.details-container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.detail-photo {
  width: 45%;
  height: 250px;
  border-radius: 5%
}

.place-details {
  height: 250px;
  color: white;
  font-size: 2em;
  width: 45%;
  float: right;
  text-align: left;
}

.place-details p {
  margin: .4em 0 0;
}