.details-container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.detail-photo {
  width: 45%;
  height: 250px;
  border-radius: 5%;
}

.place-details {
  height: 250px;
  color: white;
  font-size: 2em;
  width: 45%;
  float: right;
  text-align: left;
}

.place-details p {
  margin: .4em 0 0;
}

.checkin-button {
  color: white;
  background-color: #f1b310;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 48px;
  padding: 10px;
  border-radius: 2.5%;
}

.checkin-button:hover {
  color: white;
  background-color: #f11149;
}

.checkin-container {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: white;
  border-radius: 10%;
  color: #006bb7;
  vertical-align: top;
  padding-bottom: 10px;
}

.checkin-show-link {
  color: white;
  background-color: #f1b310;
  text-decoration: none;
  display: block;
}

.checkin-show-link:hover {
  color: white;
  background-color: #f11149;
}

.user-show-link {
  color: #f11149;
  text-decoration: none;
}

.like-button {
  color: white;
  background-color: #f1b310;
  text-decoration: none;
}

.like-button:hover {
  cursor: pointer;
}

.checkin-form {
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 60%;
}

.checkin-form textarea {
  width: 80%;
  height: 100px;
  font-size: 24px;
  padding: 1%;
  border-radius: 5%;
  margin-top: 2%;
}

.checkin-form select {
  font-size: 24px;
  padding: 1%;
  margin-top: 2%;
  border-radius: 5%;
}

.checkin-form input[type=submit] {
  background-color: #006bb7;
  color: white;
  width: 60%;
  font-size: 24px;
  padding: 1%;
  border-radius: 5%;
  margin-top: 2%;
}

.checkin-form input[type=submit]:hover {
  cursor: pointer;
  background-color: #f11149;
}

.checkin-info-container {
  margin: 0 auto;
  margin-top: 2%;
  width: 90%;
  text-align: center;
}

.checkin-details {
  background-color: white;
  border-radius: 10%;
  color: #006bb7;
  padding: 10px 0;
  width: 50%;
  margin: 0 auto;
}

.checkin-creator-link {
  color: #f11149;
  text-decoration: none;
}

.checkin-creator-link:hover {
  background-color: #f11149;
  color: white;
  text-decoration: none;
}

.comments-container {
  background-color: white;
  border-radius: 10%;
  color: #006bb7;
  padding: 10px 0;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.comment {
  border-top: 1px solid #006bb7;
  border-bottom: 1px solid #006bb7;
  margin: 1px 0;
}

.comment-form {
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 60%;
}

.comment-form textarea {
  width: 80%;
  height: 50px;
  font-size: 12px;
  padding: 1%;
  border-radius: 5%;
  margin: 1%;
}

.comment-form input[type=submit] {
  background-color: #006bb7;
  color: white;
  width: 60%;
  font-size: 12px;
  padding: 1%;
  border-radius: 5%;
}