.places {
  display: inline-block;
  text-align: center;
  width: 33%;
  margin-top: 1em;
  margin-bottom: 3em;
  height: 50%;
  background-color: white;
  border-radius: 10%;
  color: #006bb7;
}



.places a {
  text-decoration: none;
  color: #006bb7;
}

.places a:hover {
  color: white;
  background-color: #f11149;
}

.small-photo {
  border-radius: 20%;
  height: 250px;
  width: 250px;
}